*{
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    position: relative;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}
*,*:before,*:after{
    box-sizing: border-box;
}


.wrap{
    max-width: 1000px;
    margin: 0 auto;
}
.topbar{
    display:flex;
    justify-content: end;
    background: #f6f6f6;
}
.facebook a{
    border-right:1px solid gray;
    color:#4460a0;
}
.twitter a{
    color:#00aaec;
}
.topbar a{
    display:flex;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.topbar a:hover{
    background: blue;
    color: white;
}
.menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    flex-wrap: wrap;
}
h1 a{
    width: 170px;
    height: 36px;
    display:block;
    background:url(../img/logo.png) no-repeat;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}
.menu > ul{
    display:flex;
    flex-wrap: wrap;
}
.menu > ul li {
   text-align: center;
    width: 100px;
}
.menu > ul li a{
    display:block;
    padding:10px 10px 10px 10px;
    text-decoration: none;
    color:#00cc99;
    background: white;
}
.menu >ul li a:hover, .menu .active{
    background: blue;
    color:white;
}
.dropdown-open{
    position: absolute;
    z-index: 50;
    display: none;
}
.dropdown-open li{
    border: 1px solid #00cc99;
}
/*swiper輪播*/
.swiper{
    width: 1000px;   
    height: 350px;
}
.banner{
    z-index: 40;
    height: 345px;
    display:flex;
    align-items: center;
    border:1px solid blue;
}
.banner1{
    background: url(../img/banner1.png) no-repeat;
}
.banner2{
    background: url(../img/banner2.png) no-repeat;
}
.banner3{
    background: url(../img/banner3.png) no-repeat;
}
.banner h3{
    color:white;
    font-size: 30px;
    line-height: 1.3;
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color:rgba(1,1,1,0.1);
}
.content{
    margin-top: 10px;
}
.course{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}
.course li{
    width: 31.3333%;
    padding:10px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 0 1px 1px gray;
    text-align: center;
}
.content p{
    text-align: left;
}
.course img{
    margin-bottom: 10px;
}
.course img:hover{
    opacity: 0.5;
}
.course h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.course p{
    margin-bottom: 10px;
    line-height: 1.3;
    letter-spacing: 2px;
}
.RWD img{
    padding-top: 25px;
    padding-bottom: 25px;
}
.jq img{
    padding-top: 20px;
}
.jq li{
    width:98%;
    border:none;
    text-align: left;
    list-style:disc ;
    padding-bottom: 0;
    margin-left: 20px;
    box-shadow: 0 0 0;
}
.content h4{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.content table{
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.content table tr{
    padding:10px;
}
.content table th{
    text-align: left;
    border-top: 1px solid #e1dbdb;
    border-bottom: 1px solid #e1dbdb;
    background: #f7f7f7;
    padding:10px;
    font-weight: bold;
}
.content table td{
    padding:10px;
    border-top: 1px solid #e1dbdb;
    border-bottom: 1px solid #e1dbdb;
}
.content table span{
    color:#00a67d;
}
form{
    background: linear-gradient(#00674d,#009670);
    padding:20px;
}
form h5{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
    line-height: 1.3;
}
.form{
    display:flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.information{
    border-radius: 10px;
}
.formText{
    color:white;
    padding:5px;
}
.name,.phone,.mail{
 width: 450px;
 height: 30px;
 border-radius:10px;
 margin-top: 5px;
 margin-bottom: 5px;
}
.submit{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 40px;
    background: #00cc99;
    color:white;
    font-size: 18px;
}
.submit:hover{
    background: blue;
    color:white;
    cursor: pointer;
}
.footer{
    padding:20px;
    display:flex;
    justify-content: space-between;
}
.footer h2 a{
    background: url(../img/footerLogo.png) no-repeat;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    height: 36px;
    width: 171px;
}
.footer p{
    padding:5px;
    letter-spacing: 1px;
}
.footer span{
    color:red;
}
.backtotop a{
    border: 1px solid;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius:10px;
    text-decoration: none;
}
.backtotop a:hover{
    background: blue;
    color:white;
}
@media (max-width:767px) {
    .menu{
        flex-direction: column;
    }
    h1 a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menu ul li{
        width:50%;
        margin-bottom: 10px;
    }
    .menu ul li a{
        margin-right: 0;
    }
    .course li{
        width: 98%;
    }
}